.ctrls,
.ctrls--playing {
    background-color: hsla(233, 22%, 23%, 1);
    background-image: linear-gradient(
        hsla(233, 22%, 23%, 0) 65%,
        hsla(233, 25%, 15%, .5)
    );    
    display: flex;
    flex: 0 0 90px;
    padding: 5px 0 15px;
}

.ctrl--btn--play,
.ctrl--btn--play--playing,
.ctrl--num,
.ctrl--slider {
    display: flex;
    flex: 0 0 36%;
    position: relative;
    z-index: 1;
}

.ctrl--num,
.ctrl--slider {
    display: flex;
    flex: 0 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.ctrl--btn {
    flex: 0 0 90px;
}

.ctrl--btn,
.ctrl--btn--play,
.ctrl--btn--play--playing {
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    background-color: hsla(18, 100%, 52%, 1);
    color: hsla(355, 78%, 60%, .25);
    display: block;
    font: 600 45px/80px "Roboto", sans-serif;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0px hsla(233, 65%, 85%, .35),
                 0 1px 0px hsla(233, 15%, 10%, .5);

    &:disabled {
        background-color: hsla(233, 22%, 23%, 1);
        color: hsla(355, 78%, 60%, .15);
        text-shadow: none;        
    }

    &:hover {
        color: hsla(355, 78%, 60%, .35);
        text-shadow: 0 1px 3px hsla(233, 15%, 15%, .5),
                     0 -1px 1px hsla(233, 65%, 65%, .5);

        &:disabled {
            color: hsla(355, 78%, 60%, .15);
            text-shadow: none;
        }        
    }
}

.ctrl__label {
    background-color: hsla(233, 22%, 23%, 1);
    border-bottom-left-radius: 5em .25em;
    border-bottom-right-radius: 5em .25em;  
    box-shadow: 0 2px 0 0 hsla(233, 35%, 15%, .5),
                0 15px 12px -12px hsla(233, 15%, 15%, .35);    
    color: hsla(233, 15%, 50%, 1);  
    flex: 1 0 100%;
    font: 600 10px/30px "Roboto", sans-serif;
    height: 30px;
    letter-spacing: 1px;
    padding: 0 1.2em;
    position: relative;
    text-shadow: 0 2px 1px hsla(233, 25%, 15%, .35);    
}

.ctrl__input,
.ctrl__slider {
    background-color: hsla(18, 60%, 60%, 1);    
    border-bottom: 2px solid hsla(18, 95%, 65%, .35);
    border-bottom-left-radius: 5em .25em;
    border-bottom-right-radius: 5em .25em;
    box-shadow: inset 0 -3px 3px -3px hsla(18, 100%, 55%, .25),
                0 2px 0 0 hsla(18, 65%, 15%, .25);         
    color: rgba(255,255,255,.85);
    flex: 0 1 100%;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    letter-spacing: .5px;
    padding: 0 42px 0 0;
    text-align: right;

    &:hover {
        color: #fff;
    }    
}

.ctrl__slider {
    &::-webkit-slider-thumb {
        background-color: transparent;
        height: 40px;
        width: 10px;
    }        
}

.ctrl__unit {
    align-self: flex-end;
    bottom: 11px;
    color: hsla(233, 25%, 95%, .75);
    height: auto;
    letter-spacing: 1px;
    padding-right: 18px;
    position: absolute;
    text-align: right;
    text-transform: none;
}